---
import { Image } from "astro:assets";
import "@/styles/global.css";

import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import Panel from "@/components/Panel.astro";

import HeroImage from "@/public/images/hero-image.avif";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>SmartEdu</title>
	</head>
	<body class="bg-gradient-to-b from-primary-500 to-primary-700">
		
		<Navbar />

		<!-- Seccion de Hero -->
		<section class="relative h-screen flex items-center">
			<div class="absolute inset-0 z-0">
				<Image
					src={HeroImage}
					alt={"Hero Image"}
					class="h-full w-full object-cover object-center"
					draggable={"false"}
					loading={"eager"}
				/>
				<div class="absolute inset-0 bg-primary-500 opacity-50"></div>
			</div>

			<div
				class="relative z-10 flex flex-col items-start max-w-[70%] space-y-4 text-white px-6 lg:px-12 gap-6"
			>
				<h1 class="text-4xl sm:text-5xl lg:text-6xl font-semibold">
					Transforma la Gestión Académica con SmartEdu
				</h1>
				<p
					class="text-lg font-medium max-w-full sm:max-w-[80%] lg:max-w-[70%]"
				>
					Una plataforma SaaS multiempresa diseñada para optimizar
					procesos académicos y apoyar la retención estudiantil.
				</p>
				<a href="#">
					<button
						type="button"
						class="text-primary-500 bg-accent-500 hover:bg-accent-600 focus:ring-4 focus:ring-accent-200 font-semibold rounded-3xl text-base px-5 py-2.5 me-2 mb-2 focus:outline-none"
					>
						SOLICITAR DEMO
					</button>
				</a>
			</div>
		</section>

		<!-- Seccion de Nosotros -->
		<section class="h-screen flex items-center mx-12">
			<div class="line-container">
				<div class="line"></div>
				<div class="circle2"></div>
			</div>

			<div class="lg:ml-16 text-white">
				<h2 class="text-3xl font-semibold mb-8">Nosotros</h2>
				<p class="sm:ml-0 lg:ml-12 mb-6 text-lg lg:max-w-[60%]">
					Bienvenidos a SmartEdu, una solución integral para
					instituciones educativas que buscan modernizar sus procesos
					y mejorar la experiencia de estudiantes y administradores.
					<br /><br />
					Simplifica la gestión, adapta el aprendizaje y predice la retención
					con nuestra tecnología avanzada.
				</p>
				<div
					class="flex flex-col sm:flex-row sm:justify-end sm:items-center lg:mr-8 mt-8"
				>
					<button
						type="button"
						class="text-primary-500 bg-accent-500 hover:bg-accent-600 focus:ring-4 focus:ring-accent-200 font-semibold rounded-3xl text-base px-5 py-2.5 me-2 mb-2 focus:outline-none"
					>
						Solicitar Demo
					</button>
					<button
						type="button"
						class="text-primary-500 bg-white hover:bg-stone-400 focus:ring-4 focus:ring-stone-200 font-semibold rounded-3xl text-base px-5 py-2.5 me-2 mb-2 focus:outline-none"
					>
						Conocer Más
					</button>
				</div>
			</div>
		</section>

		<!-- Seccion de Servicios -->
		<section class="relative min-h-screen overflow-hidden">
			<div class="ellipse-container">
				<div class="ellipse-first"></div>
				<div class="ellipse-second"></div>
				<div class="ellipse-third"></div>
			</div>
			<div
				class="relative z-10 mt-4 left-0 right-0 text-center text-white py-14 lg:mx-12"
			>
				<h2 class="text-3xl font-bold text-primary-500">
					Nuestros Servicios
				</h2>
				<div class="grid mt-8 lg:grid-cols-3 lg:gap-6 place-items-center">
					<Card
						icon="/smart-edu-web/images/admision.png"
						title="Admisión"
						description="Facilita la inscripción de nuevos estudiantes con un sistema automatizado que personaliza el flujo de admisión para cada institución."
						link="#"
					/>
					<Card
						icon="/smart-edu-web/images/gestion-academica.png"
						title="Gestión Académica"
						description="Centraliza la información académica de los estudiantes, desde el ingreso hasta su egreso."
						link="#"
					/>
					<Card
						icon="/smart-edu-web/images/gestion-curricular.png"
						title="Gestión Curricular"
						description="Facilita la creación, modificación y seguimiento de los programas curriculares."
						link="#"
					/>
					<Card
						icon="/smart-edu-web/images/gestion-educativa.png"
						title="Gestión de Instituciones Educativas"
						description="El sistema soporta estructuras académicas y calendarios específicos para cada institución."
						link="#"
					/>
					<Card
						icon="/smart-edu-web/images/gestion-ambiental.png"
						title="Gestión de Estructura Ambiental"
						description="Permite estructurar el ambiente académico y organizacional de cada institución."
						link="#"
					/>
					<Card
						icon="/smart-edu-web/images/retencion-estudiantil.png"
						title="Retención y Deserción Estudiantil"
						description="Ofrecemos modelos de IA que analizan patrones de comportamiento."
						link="#"
					/>
				</div>
				<div class="flex flex-col lg:m-8">
					<!-- Panel izquierdo -->
					<div class="flex justify-center lg:justify-start w-full">
						<Panel
							title="Potenciada por Inteligencia Artificial"
							description="Integramos IA para mejorar la toma de decisiones en cada etapa del ciclo académico. Desde la predicción de deserción hasta la optimización de recursos, nuestros modelos de análisis ofrecen insights que ayudan a mejorar la eficiencia de las instituciones educativas."
						/>
					</div>
				
					<!-- Panel derecho -->
					<div class="flex lg:justify-end justify-center w-full">
						<Panel
							title="Casos de Éxito"
							description="Descubre cómo SmartEdu ha ayudado a instituciones educativas a optimizar su gestión, aumentar la retención estudiantil y personalizar su oferta académica. Con testimonios de usuarios y casos de éxito, mostramos el impacto positivo de nuestra plataforma en diversas instituciones."
						/>
					</div>
				</div>				
			</div>
		</section>

		<!-- Seccion de Ventajas -->
		<section>
			<h2 class="mx-12 lg:mx-20 text-3xl font-semibold text-white">
				LO QUE NOS HACE
			</h2>
			<h2 class="mx-12 lg:mx-20 text-4xl font-semibold text-white">ÚNICOS</h2>
			<div class="grid lg:grid-cols-3 place-items-center lg:gap-6 lg:mx-12">
				<Card
					icon="/smart-edu-web/images/adaptabilidad.png"
					title="Adaptabilidad Completa"
					description="SmartEdu acomoda diferentes configuraciones y requisitos, permitiendo personalizar cada módulo según la estructura y visión de cada institución."
				/>
				<Card
					icon="/smart-edu-web/images/flexibilidad.png"
					title="Flexibilidad en la Gestión Académica"
					description="Nuestra plataforma se adapta a calendarios académicos variados, permitiendo a cada institución definir sus propios períodos y fechas clave."
				/>
				<Card
					icon="/smart-edu-web/images/analisis.png"
					title="Análisis Predictivo para la Retención Estudiantil"
					description="Utilizamos inteligencia artificial para analizar patrones de comportamiento estudiantil y anticipar la deserción."
				/>
				<Card
					icon="/smart-edu-web/images/escalabilidad.png"
					title="Escalabilidad para el Crecimiento"
					description="SmartEdu permite una escalabilidad que acompaña el crecimiento. Evoluciona al ritmo de cada institución, asegurando que las necesidades futuras estén cubiertas. "
				/>
				<Card
					icon="/smart-edu-web/images/automatizacion.png"
					title="Automatización y Eficiencia"
					description="Desde la admisión hasta la graduación, la plataforma automatiza flujos de trabajo para que el personal académico se enfoque en lo que más importa: el éxito de sus estudiantes."
				/>
				<Card
					icon="/smart-edu-web/images/soporte.png"
					title="Soporte y Actualizaciones Continuas"
					description="Ofrecemos un equipo de soporte siempre disponible para resolver dudas y asistir en la implementación de nuevos módulos o ajustes a medida que cambian las necesidades institucionales."
				/>
			</div>
		</section>

		<!-- Seccion de Contacto -->
		<section class="relative min-h-screen py-12 mx-12 lg:mx-20 mt-12">
			<div class="sm:absolute sm:inset-0 flex items-center">
				<div class="line-container">
					<div class="line2"></div>
					<div class="circle"></div>
				</div>
				<div class="lg:ml-4 text-white w-full">
					<div class="flex flex-col items-center">
						<h2
							class="text-3xl font-semibold mb-8 text-accent-500 lg:text-center w-full"
						>
							AGENDA UNA DEMO Y LLEVA TU GESTIÓN ACADÉMICA AL SIGUIENTE
							NIVEL
						</h2>
						<p class="mb-6 text-lg lg:text-center w-full">
							Estamos aquí para ayudarte a conocer cómo SmartEdu puede
							transformar tu institución. Solicita una demo gratuita y
							descubre cómo nuestros módulos pueden ajustarse a tus
							necesidades.
						</p>
					</div>
		
					<!-- Formulario -->
					<form class="space-y-6 mt-6">
						<div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
							<div>
								<label for="nombres" class="block">Nombres Completos</label>
								<input
									id="nombres"
									type="text"
									name="nombres"
									class="w-full px-4 py-2 rounded-md border focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-transparent text-black"
								/>
							</div>
							<div>
								<label for="apellidos" class="block">Apellidos Completos</label>
								<input
									id="apellidos"
									type="text"
									name="apellidos"
									class="w-full px-4 py-2 rounded-md border focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-transparent text-black"
								/>
							</div>
							<div>
								<label for="telefono" class="block">Teléfono Personal</label>
								<input
									id="telefono"
									type="tel"
									name="telefono"
									class="w-full px-4 py-2 rounded-md border focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-transparent text-black"
								/>
							</div>
						</div>
		
						<div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
							<div>
								<label for="correo" class="block">Correo Personal</label>
								<input
									id="correo"
									type="email"
									name="correo"
									class="w-full px-4 py-2 rounded-md border focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-transparent text-black"
								/>
							</div>
							<div>
								<label for="ciudad" class="block">Ciudad</label>
								<input
									id="ciudad"
									type="text"
									name="ciudad"
									class="w-full px-4 py-2 rounded-md border focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-transparent text-black"
								/>
							</div>
							<div>
								<label for="institucion" class="block">Institución</label>
								<input
									id="institucion"
									type="text"
									name="institucion"
									class="w-full px-4 py-2 rounded-md border focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-transparent text-black"
								/>
							</div>
						</div>
		
						<div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
							<div class="col-span-2 lg:col-span-1">
								<label for="servicio" class="block">Servicio de Interés</label>
								<input
									id="servicio"
									type="text"
									name="servicio"
									value="Admisión"
									class="w-full px-4 py-2 rounded-md border focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-transparent text-black"
								/>
							</div>
							<div class="col-span-2">
								<label for="mensaje" class="block">Mensaje Adicional</label>
								<input
									id="mensaje"
									type="text"
									name="mensaje"
									class="w-full px-4 py-2 rounded-md border focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-transparent text-black"
								/>
							</div>
						</div>
					</form>
					<div class="flex justify-end items-center mt-8">
						<button
							type="button"
							class="text-primary-500 bg-accent-500 hover:bg-accent-600 focus:ring-4 focus:ring-accent-200 font-semibold rounded-3xl text-base px-5 py-2.5 me-2 mb-2 focus:outline-none"
						>
							Solicitar Demo
						</button>
					</div>
				</div>
			</div>
		</section>
		
		<Footer />
		
	</body>
</html>
